body {
  margin: 0;
  font-family: 'Lexend Deca', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track-piece:start {
  background: transparent url('/images/scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url('/images/scrollbar.png') repeat-y !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}