@import 'tailwindcss';

@theme {
  --font-\*: initial;
  --font-sans: Lexend Deca, ui-sans-serif, system-ui;
  --font-serif: ui-serif, Georgia;
  --font-mono: ui-monospace, SFMono-Regular;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    appearance: textfield !important;
    -moz-appearance: textfield !important;
  }
}